In [1]:
#Desafío 1#
print ("Hola Mundo, esta es mi primera incursión en Python")

Hola Mundo, esta es mi primera incursión en Python

In [12]:
#Desafío2#
name= input("Ingrese su nombre")
age= int(input("Ingrese su edad"))
hobbies=[" datos,", " futbol,", " y naturaleza"]
pets="gato: guapeton"

Ingrese su nombreJuan
Ingrese su edad32

In [15]:
#Desafío 3#
print (name)
print(age)
print(hobbies)
print(pets)

print(hobbies[1])

types=[type(name),type(age),type(hobbies),type(pets)]
print(types)


print("Mi nombre es {}, mi edad es {}, mis hobbies favoritos son {}{}{} y mi mascota es {}".format(name,age,hobbies[0],hobbies[1],hobbies[2],pets))

Juan
32
['datos ,', 'futbol ,', ' y naturaleza']
gato: guapeton
futbol ,
[<class 'str'>, <class 'int'>, <class 'list'>, <class 'str'>]
mi nombre es Juan, mi edad es 32, mis hobbies favoritos son datos ,futbol , y naturaleza y mi mascota es gato: guapeton

In [1]:
#Desafío 4#

print('Estaba la pájara pinta sentada en el verde limón') #falto cerrar el string con una comilla#

import pandas as pd #error de sintaxis#
import numpy as np #error de sintaxis#

"Ornitorrinco" + "45"  #falto transformar el número a String#

Estaba la pájara pinta sentada en el verde limón
Ornitorrinco45

In [10]:
#Desafío5#
import pandas as pd
import numpy as np

df=pd.read_csv("flights.csv")
df.head()
df.tail(5)
df['year'].describe()

count     144.000000
mean     1954.500000
std         3.464102
min      1949.000000
25%      1951.750000
50%      1954.500000
75%      1957.250000
max      1960.000000
Name: year, dtype: float64

In [3]:
#Desafío5#
df.tail(5)

     year      month  passengers
139  1960     August         606
140  1960  September         508
141  1960    October         461
142  1960   November         390
143  1960   December         432

In [ ]:
#Desafío5#
df['year'].describe()

In [32]:
#Desafío5#
df['year'].value_counts()

1960    12
1959    12
1958    12
1957    12
1956    12
1955    12
1954    12
1953    12
1952    12
1951    12
1950    12
1949    12
Name: year, dtype: int64

In [33]:
#Desafío5#
df['month'].value_counts()

May          12
June         12
March        12
November     12
December     12
August       12
February     12
April        12
September    12
January      12
October      12
July         12
Name: month, dtype: int64

In [8]:
#Desafío5#
first=df['passengers'].head(15)
lost=df['passengers'].tail(15)
np.mean(df['passengers'])
np.median(df['passengers'])
np.std(df['passengers'])

129    407
130    362
131    405
132    417
133    391
134    419
135    461
136    472
137    535
138    622
139    606
140    508
141    461
142    390
143    432
Name: passengers, dtype: int64

In [9]:
#Desafío5#
np.mean(first) 
np.median(first)
np.std(first)
np.mean(lost) 
np.median(lost)
np.std(lost)

75.29426715671431