In [2]:
import pandas as pd
import numpy as np

In [3]:
#desafío 1

df= pd.read_csv('worldcup2014.csv')
df.head(5)

,team,continent,group,group_pos,cantidad_juegos,juegos_ganados,juegos_empatados,juegos_perdidos,goles_favor,goles_contra,goles_diferencia,puntos,clasificado
0,Brazil,southamerica,A,1,3,2,1,0,7,2,5,7,1
1,Mexico,northamerica,A,2,3,2,1,0,4,1,3,7,1
2,Croatia,europe,A,3,3,1,0,2,6,6,0,3,0
3,Cameroon,africa,A,4,3,0,0,3,1,9,−8,0,0
4,Netherlands,europe,B,1,3,3,0,0,10,3,7,9,1

In [33]:
#desafío 2


df['juegos_ganados_totales']=np.where(df['juegos_ganados']!=0,1,0)     # se añaden las columna de juegos ganados totales (desafío 5)
df['juegos_perdidos_totales']=np.where(df['juegos_perdidos']!=0,1,0) # se añaden las columna de juegos perdidos totales (desafío 5)
df['continent'].value_counts('%')
df['continent'].value_counts('%').index       # métodos para mostrar los valores individuales y mostrarlos
df['continent'].value_counts('%').values  #métodos para mostrar los valores individuales y mostrarlos
listdf=(df['continent'].value_counts('%').items()) #para extraer los componentes en una lista

for element in listdf:   # con un for each se puede recorrer la lista 
    print(element)

('europe', 0.40625)
('southamerica', 0.1875)
('africa', 0.15625)
('northamerica', 0.125)
('asia', 0.125)

In [ ]:
#· El continente con mayor presencia en la muestra corresponde a Europa con un 41 % aprox. del total
#· La pp de escoger un equipo asiático al azar es del 13%
#· La pp de escoger un equipo africano al azar es del 16%

In [32]:
#desafío 3 

europedf=df[df['continent'] == "europe"]  
southamericadf=df[df['continent'] == "southamerica"]   
africadf=df[df['continent'] == "africa"]  
northamericadf=df[df['continent'] == "northamerica"]  
asiadf=df[df['continent'] == "asia"]

In [22]:
 print(northamericadf)

             team     continent group  group_pos  cantidad_juegos  \
1          Mexico  northamerica     A          2                3
12     Costa Rica  northamerica     D          1                3
19       Honduras  northamerica     E          4                3
25  United States  northamerica     G          2                3

    juegos_ganados  juegos_empatados  juegos_perdidos  goles_favor  \
1                2                 1                0            4
12               2                 1                0            4
19               0                 0                3            1
25               1                 1                1            4

    goles_contra goles_diferencia  puntos  clasificado
1              1                3       7            1
12             1                3       7            1
19             8               −7       0            0
25             4                0       4            1

In [40]:
#desafío 4

continentes=[europedf,southamericadf,africadf,northamericadf,asiadf]
for i in continentes:
    print (i['clasificado'].value_counts('%'), i['continent'].unique()[0] )
            
        
  # al aplicar el método unique devuelve una lista y en el INDEX [0] están los nombres

0    0.538462
1    0.461538
Name: clasificado, dtype: float64 europe
1    0.833333
0    0.166667
Name: clasificado, dtype: float64 southamerica
0    0.6
1    0.4
Name: clasificado, dtype: float64 africa
1    0.75
0    0.25
Name: clasificado, dtype: float64 northamerica
0    1.0
Name: clasificado, dtype: float64 asia

In [ ]:
#¿Cuál fue la probabilidad de que un país asiático pase a la siguiente ronda?
# La probabilidad es 0
#¿Cuáles fueron los dos continentes que tuvieron la mayor probabilidad de clasificar?
# Southamerica con una probabilidad de 83 % y Northamerica con una probabilidad de 75 %
#¿Cuál fue la probabilidad de no clasificar un país europeo?
# La probabilidad de no clasificar es de 54 %

In [88]:
#desafío 5 : refactorización 

    
 # 1 agregamos con npwhere una nueva columna al df original   

# df['juegos_ganados_totales']=np.where(df['juegos_ganados']!=0,1,0) (se agrego más arriba)

 # 2 refactorizamos el código original columna al df original  
    
print("--------- Juegos Ganados--------")  
for d  in [europedf,southamericadf,africadf,northamericadf,asiadf]:
    print(d['juegos_ganados_totales'].value_counts('%'),d['continent'].unique()[0])
    
print("\n")
 # 3 agregamos con npwhere una nueva columna al df original   
    
# df['juegos_perdidos_totales']=np.where(df['juegos_perdidos']!=0,1,0) (se agrego más arriba)

 # 4 aplicamos la misma iteración pero esta vez para calcular los juegos perdidos
    
print("--------- Juegos Perdidos-------")
for f  in [europedf,southamericadf,africadf,northamericadf,asiadf]:
    print(f['juegos_perdidos_totales'].value_counts('%'),f['continent'].unique()[0])

--------- Juegos Ganados--------
1    0.846154
0    0.153846
Name: juegos_ganados_totales, dtype: float64 europe
1    1.0
Name: juegos_ganados_totales, dtype: float64 southamerica
1    0.6
0    0.4
Name: juegos_ganados_totales, dtype: float64 africa
1    0.75
0    0.25
Name: juegos_ganados_totales, dtype: float64 northamerica
0    1.0
Name: juegos_ganados_totales, dtype: float64 asia


--------- Juegos Perdidos-------
1    0.692308
0    0.307692
Name: juegos_perdidos_totales, dtype: float64 europe
1    0.5
0    0.5
Name: juegos_perdidos_totales, dtype: float64 southamerica
1    1.0
Name: juegos_perdidos_totales, dtype: float64 africa
1    0.5
0    0.5
Name: juegos_perdidos_totales, dtype: float64 northamerica
1    1.0
Name: juegos_perdidos_totales, dtype: float64 asia

In [78]:
# ¿Qué continente tuvo una mayor probabilidad de ganar juegos?
#· El continente con mayor probabilidad de ganar juegos  es Southamerica, donde la probabilidad es 1, esto significa que todos los equipos sudaméricanos al menos ganaron un juego

# ¿Qué continente presentó un nivel similar entre juegos ganados y perdidos?
# Sudamérica y Nortemeamérica, con la segunda iteración nos da cuenta que ambos tienen la misma probabilidad de ganar o perder un juego (50 %)
#Utilize el código para el caso de juegos perdidos y analize el continente con una mayor probabilidad de perder.
# Los continentes con la mayor probabilidad de perder son Africa y Asia, donde la probabilidad de perder algún partido es 1, lo que significa que...
# ... los países que conforman éstos continentes al menos perdieron alguna vez.